<div class="js-modal modal" tabindex="-1" id="image_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="js-modal-title modal-title">Share Image</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="js-modal-body modal-body text-center">
        <!-- Will be populated by partial -->
      </div>
      <div class="js-modal-footer modal-footer">
        <button type="button" class="js-modal-close btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
