<footer class="bg-inverse mt-5 text-white text-center">
  <div class="container">
    <span class="text">Image Sharer Application built as part of Ropes program - &copy; 2017 AppFolio.com</span>
  </div>
</footer>
